@charset "UTF-8";

/* ============= TABLE OF CONTENT ============

  * COMMON
  * CUSTOMIZE OWL CAROUSEL
  * NAV BAR
  * MENU BURGER
  * MENU
  * HEADER
  * FOOTER
  * ABOUT COMPANY
  * ADVANTAGES
  * PRODUCTION
  * SCHEMES
  * TABS
  * NEWS
  * PARALLAX
  * BANNER
  * DOCUMENTS
  * PARTNERS
  * CUSTOMERS
  * CONTACTS
  * STUB
  * SLIDER
  * ACTIVITIES
  * TERMINAL IMAGER PAGE
  * DOWNLOADS
  * APPLYING

 ==============================================*/

/**
 * COMMON
 */

html,
body {
  font-family: 'Istok Web', sans-serif;
  height: 100%;
}

body {
  min-width: 320px;
}

img,
svg {
  max-width: 100%;
}

.icon {
  height: 1em;
  display: inline-block;
  vertical-align: middle;
}

.container {
  width: 1540px;
  margin: 0 auto;
  max-width: 100%;
}

.container--relative {
  position: relative;
}

.full-height {
  height: 100%;
}

@media screen and (max-width: 1600px) {
  .container {
    width: 1180px;
  }
}


@media screen and (max-width: 1240px) {
  .container {
    width: 700px;
  }

  .full-height {
    height: auto;
  }
}

@media screen and (max-width: 760px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.desktop {
  display: none;
}

.laptop {
  display: none;
}

.tablet {
  display: none;
}

.mobile {
  display: none;
}

@media (max-width: 760px) {
  .mobile {
    display: block;
  }
}

@media (min-width: 760px) and (max-width: 1240px) {
  .tablet {
    display: block;
  }
}

@media (min-width: 1240px) and (max-width: 1600px) {
  .laptop {
    display: block;
  }
}

@media (min-width: 1600px) {
  .desktop {
    display: block
  }
}

h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: -0.03em;
  margin: 10px 0;
  /* Основной синий */
  color: #002E6D;
}

h1,
.h1 {
  font-weight: bold;
  font-size: 42px;
}

@media (max-width: 760px) {

  h1,
  .h1 {
    font-size: 30px;
  }
}

h2,
.h2 {
  font-size: 36px;
}

@media (max-width: 760px) {

  h2,
  .h2 {
    font-size: 25px;
  }
}

h3,
.h3 {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 760px) {
  h3,
  .h3 {
    font-size: 20px;
  }
}

@media (min-width: 1600px) {
  h3,
  .h3 {
    font-size: 30px;
  }
}

h4,
.h4 {
  font-size: 18px;
  font-weight: bold;
}

h5,
.h5 {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.03em;

  color: #C10230;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.03em;
  color: #232833;
}

p {
  margin: 10px 0;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style: decimal;
  padding-left: 20px;
}

li {
  margin: 16px 0;
}

a {
  color: #002E6D;
}

a:hover {
  text-decoration: underline;
}

.circle-btn {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  background: transparent;
  border: 1px solid #E0E7E8;
  border-radius: 30px;

  cursor: pointer;

  transition: all 0.3s;
}

.circle-btn:hover {
  background: #9F1329;
  border-color: #9F1329;
}

/**
 * CUSTOMIZE OWL CAROUSEL
 */

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-controls .owl-nav button.owl-prev,
.owl-controls .owl-nav button.owl-next {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s linear;
}

.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:focus,
.owl-controls .owl-nav button.owl-prev:focus,
.owl-controls .owl-nav button.owl-next:focus {
  outline: none;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover,
.owl-controls .owl-nav button.owl-prev:hover,
.owl-controls .owl-nav button.owl-next:hover {
  background-color: #C10230;
  border-color: #C10230;
  transform: scale(1.16, 1.16);
}

.owl-carousel .owl-nav button.owl-prev>span,
.owl-carousel .owl-nav button.owl-next>span,
.owl-controls .owl-nav button.owl-prev>span,
.owl-controls .owl-nav button.owl-next>span {
  position: relative;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
  transform: translateX(60px);
}

.owl-carousel .owl-nav button.owl-prev,
.owl-controls .owl-nav button.owl-prev {
  background: url("../images/arrow-left.svg") no-repeat center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-controls .owl-nav button.owl-next {
  background: url("../images/arrow-right.svg") no-repeat center;
}

.owl-carousel .owl-nav button.owl-next>span,
.owl-controls .owl-nav button.owl-next>span {
  text-align: right;
  transform: translateX(-65px);
}

.owl-carousel .owl-nav--gray button.owl-prev,
.owl-carousel .owl-nav--gray button.owl-next,
.owl-controls .owl-nav--gray button.owl-prev,
.owl-controls .owl-nav--gray button.owl-next {
  width: 60px;
  height: 60px;
  border: 1px solid #C4CFD2;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s linear;
}

.owl-carousel .owl-nav--gray button.owl-prev:focus,
.owl-carousel .owl-nav--gray button.owl-next:focus,
.owl-controls .owl-nav--gray button.owl-prev:focus,
.owl-controls .owl-nav--gray button.owl-next:focus {
  outline: none;
}

.owl-carousel .owl-nav--gray button.owl-prev:hover,
.owl-carousel .owl-nav--gray button.owl-next:hover,
.owl-controls .owl-nav--gray button.owl-prev:hover,
.owl-controls .owl-nav--gray button.owl-next:hover {
  background-color: #C10230;
  border-color: #C10230;
  transform: scale(1.16, 1.16);
}

.owl-carousel .owl-nav--gray button.owl-prev>span,
.owl-carousel .owl-nav--gray button.owl-next>span,
.owl-controls .owl-nav--gray button.owl-prev>span,
.owl-controls .owl-nav--gray button.owl-next>span {
  position: relative;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
  transform: translateX(60px);
}

.owl-carousel .owl-nav--gray button.owl-prev,
.owl-controls .owl-nav--gray button.owl-prev {
  background: url("../images/arrow-left-blue.svg") no-repeat center;
}

.owl-carousel .owl-nav--gray button.owl-prev:hover,
.owl-controls .owl-nav--gray button.owl-prev:hover {
  background-image: url("../images/arrow-left.svg");
}

.owl-carousel .owl-nav--gray button.owl-next,
.owl-controls .owl-nav--gray button.owl-next {
  background: url("../images/arrow-right-blue.svg") no-repeat center;
}

.owl-carousel .owl-nav--gray button.owl-next:hover,
.owl-controls .owl-nav--gray button.owl-next:hover {
  background-image: url("../images/arrow-right.svg");
}

.carousel-pagination {
  display: inline-flex;
  align-items: center;
  height: 2em;
  font-style: normal;
  font-weight: bold;
  color: #C4CFD2;
}

.carousel-pagination__index {
  color: #C10230;
}

.carousel-pagination__progress-wrp {
  display: inline-block;
  position: relative;
  margin: 0 1rem;
  width: 55px;
  height: 1px;
  overflow: hidden;
  background: #C4CFD2;
}

.carousel-pagination__progress {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #C10230;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.carousel-pagination__count {
  transition: color 0.5s ease;
}

.carousel-pagination_full .carousel-pagination__count {
  color: #C10230;
}

.carousel-hint {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-weight: bold;
  color: #8E959D;
}

.carousel-hint__icon {
  position: relative;
  top: -4px;
  display: inline-block;
  width: 14px;
  height: 24px;
}

.carousel-hint__label {
  margin-left: 10px;
  display: inline-block;
}



/**
 * NAV BAR
 */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  background: #0e2e69;
}

.nav-bar__menu {
  position: absolute;
  left: 50%;
  margin-left: -10px;
}

.header_with-buttons .nav-bar__menu {
  margin-left: -50px;
}

.nav-bar__language {
  margin-left: 25px;
}

.nav-bar__language a {
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-bar__language a:hover {
  color: #002E6D;
}

.nav-bar__nav-list {
  display: flex;

  list-style: none;
  padding: 0;
}

.nav-bar__nav-list a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;

  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}

@media screen and (max-width: 760px) {
  .nav-bar {
    padding: 20px;
  }

  .nav-bar__logo {
    max-width: 80px;
  }
}

@media screen and (max-width: 1400px) {
  .nav-bar__nav-list {
    display: none;
  }
}


/* NAV */

.nav {
  display: flex;

  list-style: none;
  padding: 0;
}

.nav__item {}
.nav__separator {
  width: 100px;
}

.nav__link {
  display: inline-block;
  padding: 0 10px;

  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
}

@media (min-width: 1920px) {
  .nav__link {
    padding: 0 25px;
  }
}


/**
 * MENU BURGER
 */

.menu-burger {
  width: 20px;
  cursor: pointer;
}

.menu-burger__item {
  height: 2px;
  background: #FFFFFF;
  margin-bottom: 5px;
  transition: all .5s ease;
}

.menu-burger__item:last-child {
  margin-bottom: 0;
}

.menu-burger:hover .menu-burger__item:first-child {
  transform: translateY(-3px);
}

.menu-burger:hover .menu-burger__item:last-child {
  transform: translateY(3px);
}

.menu--open .menu-burger__item {
  transform: rotate(-45deg) !important;
}

.menu--open .menu-burger__item:first-child {
  transform: translateY(7px) rotate(45deg) !important;
}

.menu--open .menu-burger__item:last-child {
  transform: translateY(20px) !important;
  opacity: 0;
}



/**
 * MENU
 */

.menu {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 15px;
  background: #002E6D;
  color: #fff;
}

.menu .icon {
  display: inline-block;
  height: 0.75em;
}

.menu--open .menu {
  display: block;
}

.menu__list {
  list-style: none;
  padding: 0;
}

.menu__item {
  position: relative;
  margin: 0;
}

.menu__item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu__item_primary {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.menu__item_primary:last-child {
  border-bottom: none;
}

.menu__item_sub:before,
.menu__item_open:before {
  display: none;
}

.menu__link {
  display: block;
  color: inherit;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.4;
  padding: 8px 0;
  text-decoration: none;
}

.menu__link_sub {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  padding: 10px 0;
}


@media screen and (max-width: 760px) {
  .menu__list_sub {
    display: none;
  }

  .menu__item_open .menu__list_sub {
    display: block;
  }

  .menu__link_primary:after {
    content: '';
    position: relative;
    display: inline-block;
    margin-bottom: 0.1em;
    margin-left: 0.3em;
    width: 8px;
    height: 8px;
    background: url("../images/menu-arrow.svg") no-repeat 100%;
  }

  .menu__item_open .menu__link_primary:after {
    display: none;
  }

  .menu__item_sub:empty {
    display: none;
  }
}

@media screen and (min-width: 760px) {
  .menu {
    padding-top: 30px;
  }

  .menu__list_sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu__item_sub {
    flex: 0 0 27%;
  }

  .menu__item:before {
    display: none;
  }

  .menu__item_primary {
    padding: 20px 0;
  }
}

@media screen and (min-width: 1241px) {
  .menu__list_sub {
    flex: 0 1 100%;
  }

  .menu__link_primary {
    flex: 0 0 400px;
  }

  .menu__item_primary {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}


@media screen and (min-width: 1600px) {
  .menu {
    padding-top: 120px;
  }
}



/**
 * HEADER
 */

.header {
  position: relative;
  min-height: 720px;
  background: #002E6D;
}

.header__video {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.header__video::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #002E6D;
  opacity: 0.3;
}

.header__video video {
  min-width: 100%;
  min-height: 100%;
  margin-bottom: -8px;
}

.header__controls {
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
}

.header__controls .nav-bar {
  background: transparent;
}

.menu--open .header__controls .nav-bar {
  background: #0e2e69;
}

.header__promo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.header__promo>.container {
  height: 100%;
}

.header__menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.menu--open .header__menu {
  padding-top: 70px;
  display: block;
}

.header__slider {
  position: relative;
}

@media screen and (max-width: 1600px) {
  .header {
    min-height: 720px;
  }
}

@media screen and (max-width: 1240px) {
  .header {
    min-height: 768px;
  }

  .header__video {
    min-width: 120%;
    left: -20%;
  }
}

@media screen and (max-width: 991px) {
  .header {
    min-height: 964px;
  }

  .header__video {
    min-width: 158%;
    left: -58%;
  }
}

@media screen and (max-width: 760px) {
  .header {
    min-height: 568px;
  }

  .header__video {
    height: 640px;
  }

  .header__promo {
    padding-top: 71px;
  }
}

.header_auto-height {
  height: auto !important;
  min-height: auto;
}

/* HEADER PROMO */
.header-promo {
  flex-grow: 1;
}

.header-promo__outer {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.header-promo__inner {
  width: 100%;
}

@media screen and (max-width: 650px) {
  .header-promo__inner {
    padding-top: 100px;
  }
}

/* HEADER PROMO LINES */
.header-promo-lines__line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
}

.header-promo-lines__line:nth-child(2n) {
  background: rgba(255, 255, 255, 0.08);
}

.header-promo-lines__line:nth-child(2n-1) {
  background: rgba(255, 255, 255, 0.16);
}

.header-promo-lines__line:nth-child(1) {
  left: 0;
}

.header-promo-lines__line:nth-child(2) {
  left: 25%;
}

.header-promo-lines__line:nth-child(3) {
  left: 50%;
}

.header-promo-lines__line:nth-child(4) {
  left: 75%;
}

.header-promo-lines__line:nth-child(5) {
  left: 100%;
}

@media screen and (max-width: 760px) {

  .header-promo-lines__line:nth-child(4),
  .header-promo-lines__line:nth-child(5) {
    display: none;
  }

  .header-promo-lines__line:nth-child(1) {
    left: 10px;
  }

  .header-promo-lines__line:nth-child(2) {
    left: 50%;
  }

  .header-promo-lines__line:nth-child(3) {
    left: auto;
    right: 10px;
  }
}

/* HEADER PROMO PLUSES */
.header-promo-pluses__plus {
  position: absolute;
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  background: url("../images/plus.svg") no-repeat center;
}

.header-promo-pluses__plus:nth-child(1) {
  top: 100px;
  left: 0;
}

.header-promo-pluses__plus:nth-child(2) {
  top: 100px;
  left: 25%;
}

.header-promo-pluses__plus:nth-child(3) {
  top: 100px;
  left: 50%;
}

.header-promo-pluses__plus:nth-child(4) {
  top: 100px;
  left: 75%;
}

.header-promo-pluses__plus:nth-child(5) {
  top: 100px;
  left: 100%;
}

.header-promo-pluses__plus:nth-child(6) {
  top: 300px;
  left: 0;
}

.header-promo-pluses__plus:nth-child(7) {
  top: 300px;
  left: 100%;
}

.header-promo-pluses__plus:nth-child(8) {
  top: 500px;
  left: 0;
}

.header-promo-pluses__plus:nth-child(9) {
  top: 500px;
  left: 100%;
}

@media screen and (max-width: 760px) {
  .header-promo-pluses__plus {
    width: 7px;
    height: 7px;
    margin: -3px 0 0 -3px;
  }

  .header-promo-pluses__plus:nth-child(1) {
    top: 20px;
    left: 10px;
  }

  .header-promo-pluses__plus:nth-child(2) {
    top: 20px;
    left: 50%;
  }

  .header-promo-pluses__plus:nth-child(3) {
    top: 20px;
    left: auto;
    right: 7px;
  }

  .header-promo-pluses__plus:nth-child(4) {
    top: calc(50% - 3px);
    left: 10px;
  }

  .header-promo-pluses__plus:nth-child(5) {
    top: calc(50% - 3px);
    left: auto;
    right: 7px;
  }

  .header-promo-pluses__plus:nth-child(6) {
    top: auto;
    bottom: 10px;
    left: 10px;
  }

  .header-promo-pluses__plus:nth-child(7) {
    top: auto;
    bottom: 10px;
    left: 50%;
  }

  .header-promo-pluses__plus:nth-child(8) {
    top: auto;
    bottom: 10px;
    left: auto;
    right: 7px;
  }

  .header-promo-pluses__plus:nth-child(9) {
    display: none;
  }
}

/* HEADER PROMO SOLUTION */
.header-promo-solution {
  width: 66.66667%;
  margin: 0 auto 80px auto;
  text-align: center;
}

.header-promo-solution__title {
  font-weight: bold;
  font-size: 54px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.header-promo-solution__subtitle {
  font-size: 22px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.header-promo-solution .owl-nav {
  position: absolute;
  bottom: 85px;
  width: 100%;
}

.header-promo-solution .owl-nav button.owl-prev {
  left: -80px;
}

.header-promo-solution .owl-nav button.owl-next {
  right: -80px;
}

@media screen and (max-width: 1600px) {
  .header-promo-solution {
    margin-bottom: 40px;
  }

  .header-promo-solution__title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 10px;
  }

  .header-promo-solution__subtitle {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 1240px) {
  .header-promo-solution {
    width: 83.33333%;
  }

  .header-promo-solution__title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
  }

  .header-promo-solution__subtitle {
    font-size: 20px;
    line-height: 29px;
  }

  .header-promo-solution .owl-nav {
    position: absolute;
    bottom: 85px;
    width: 100%;
  }

  .header-promo-solution .owl-nav button.owl-prev {
    left: -80px;
  }

  .header-promo-solution .owl-nav button.owl-next {
    right: -80px;
  }
}


@media screen and (max-width: 760px) {
  .header-promo-solution {
    width: 100%;
    margin-bottom: 10px;
  }

  .header-promo-solution__title {
    font-size: 20px;
    line-height: 26px;
  }

  .header-promo-solution .owl-carousel {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .header-promo__inner {
    padding-top: 100px;
  }
}


/* HEADER PROMO PRODUCTS */
.header-promo-products {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .header-promo-products {
    display: block;
  }

  .header-promo-products__product {
    margin-bottom: 10px;
  }
}

/* HEADER PROMO PRODUCTS PRODUCT */
.header-promo-products-product {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  position: relative;
  overflow: hidden;
  width: calc(50% - 10px);
  padding: 40px 0 40px 130px;
  text-decoration: none;
  background: rgba(0, 46, 109, 0.6);
  backdrop-filter: blur(5px);
}

.header-promo-products-product:hover {
  text-decoration: none;
}

.header-promo-products-product__name {
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.header-promo-products-product__description {
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  max-width: 240px;
  margin-bottom: 38px;
}

.header-promo-products-product__list {
  margin-top: auto;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.header-promo-products-product__image {
  position: absolute;
  bottom: -10px;
  right: 140px;
  max-width: 174px;
  transition: all .2s linear;
}

.header-promo-products-product__arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 60px solid rgba(255, 255, 255, 0.2);
  border-left: 25px solid transparent;
  border-right: 0;
  height: 0;
  width: 100px;
}

.header-promo-products-product__arrow img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 25px 0 0 -12px;
  transition: all .2s linear;
}

.header-promo-products-product:last-child {
  background: rgba(193, 2, 48, 0.6);
  padding: 40px 0 40px 60px;
}

.header-promo-products-product:last-child .header-promo-products-product__image {
  bottom: -10px;
  right: 52px;
  max-width: 327px;
}

.header-promo-products-product:hover {
  background: rgba(0, 46, 109, 0.4);
}

.header-promo-products-product:hover .header-promo-products-product__image {
  max-width: 184px;
}

.header-promo-products-product:hover:last-child {
  background: rgba(193, 2, 48, 0.4);
}

.header-promo-products-product:hover:last-child .header-promo-products-product__image {
  max-width: 337px;
}

.header-promo-products-product:hover .header-promo-products-product__arrow img {
  left: calc(50% + 10px);
}

@media screen and (max-width: 1600px) {
  .header-promo-products-product {
    padding: 30px 0 30px 40px;
  }

  .header-promo-products-product__name {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 0;
  }

  .header-promo-products-product__name img {
    height: 17px;
  }

  .header-promo-products-product__description {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 24px;
  }

  .header-promo-products-product__list {
    font-size: 16px;
    line-height: 24px;
  }

  .header-promo-products-product__image {
    right: 100px;
    max-width: 124px;
  }

  .header-promo-products-product:last-child {
    padding: 30px 0 30px 40px;
  }

  .header-promo-products-product:last-child .header-promo-products-product__image {
    right: 22px;
    max-width: 237px;
  }

  .header-promo-products-product:hover .header-promo-products-product__image {
    max-width: 134px;
  }

  .header-promo-products-product:hover:last-child .header-promo-products-product__image {
    max-width: 247px;
  }
}

@media screen and (max-width: 1240px) {
  .header-promo-products-product {
    display: block;
    padding: 40px 0 40px 40px;
  }

  .header-promo-products-product__name {
    font-size: 24px;
    line-height: 35px;
  }

  .header-promo-products-product__description {
    font-size: 14px;
    line-height: 26px;
    max-width: 250px;
    margin-bottom: 20px;
  }

  .header-promo-products-product__list {
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 100px;
  }

  .header-promo-products-product__image {
    right: auto;
    left: 40px;
    bottom: -40px;
    max-width: 100px;
  }

  .header-promo-products-product:last-child {
    padding: 40px 0 40px 40px;
  }

  .header-promo-products-product:last-child .header-promo-products-product__image {
    right: auto;
    left: 40px;
    bottom: -30px;
    max-width: 210px;
  }

  .header-promo-products-product:hover .header-promo-products-product__image {
    max-width: 100px;
  }

  .header-promo-products-product:hover:last-child .header-promo-products-product__image {
    max-width: 210px;
  }
}

@media screen and (max-width: 760px) {
  .header-promo-products-product {
    width: 100%;
    padding: 20px 30px 50px 30px;
  }

  .header-promo-products-product__name {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 5px;
  }

  .header-promo-products-product__name img {
    height: 14px;
  }

  .header-promo-products-product__description {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 0;
    max-width: 70%;
  }

  .header-promo-products-product__list {
    display: none;
  }

  .header-promo-products-product__image {
    left: auto;
    right: 30px;
    max-width: 80px;
  }

  .header-promo-products-product__arrow {
    left: 30px;
    right: auto;
    bottom: 13px;
    width: auto;
    height: auto;
    border: 0;
  }

  .header-promo-products-product__arrow img {
    position: static;
    margin: 0;
    width: 16px;
  }

  .header-promo-products-product:last-child {
    padding-left: 30px;
  }

  .header-promo-products-product:last-child .header-promo-products-product__image {
    left: auto;
    right: 15px;
    max-width: 110px;
  }
}


/* HEADER SIDE BOTTONS */
.header__side-bottons {
  position: absolute;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 80px;
  display: flex;
}

.header-side-botton {
  display: flex;
  align-items: center;
  justify-content: center;
  
  flex: 0 1 100%;
  
  color: #fff;
  background: #002E6D;;
  
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 30px;
}
.header-side-botton_red {
  background: #B10024;
}

.header-side-botton__inner {
  display: block;
  white-space: nowrap;
}

.header-side-botton__inner .icon {
  width: 15px;
  height: 15px;
  
  margin-top: -3px;
  margin-right: 13px;
}

@media screen and (max-width: 760px) {
  .header_with-buttons {
    margin-bottom: 80px;
  }

  .header__side-bottons {
    bottom: -80px;
  }

}
@media screen and (min-width: 760px) {
  .header_with-buttons {
    margin-left: 80px;
  }

  .header__side-bottons {
    left: -80px;

    width: 80px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .header-side-botton__inner {
    transform: rotate(-90deg);
  }
}

/**
 * FOOTER
 */

.footer {
  background: #232833;
  padding: 40px;
}

.footer__outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copy {
  width: 33.33333%;
  padding-left: 8.33333%;
  font-size: 14px;
  letter-spacing: -0.05em;
  color: #8E959D;
}

.footer__links {
  width: 33.33333%;
}

.footer__links a {
  font-size: 14px;
  letter-spacing: -0.05em;
  color: #8E959D;
  text-decoration: none;
}

.footer__links a:hover {
  color: #FFFFFF;
}

.footer__todo {
  width: 33.33333%;
  text-align: right;
}

.footer__todo a {
  font-size: 14px;
  letter-spacing: -0.05em;
  color: #8E959D;
  text-decoration: none;
}

.footer__todo a img {
  margin-left: 5px;
}

.footer__todo a:hover {
  color: #FFFFFF;
}

@media screen and (max-width: 1600px) {
  .footer {
    padding: 36px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    padding: 20px 0;
  }

  .footer__outer {
    display: block;
    text-align: center;
  }

  .footer__copy {
    width: 100%;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .footer__links {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer__todo {
    width: 100%;
    text-align: center;
  }
}


/**
 * ABOUT COMPANY
 */

.about-company {
  padding: 100px 0;
  background: #002E6D;
}

.about-company__inner {
  display: flex;
  justify-content: space-between;
}

.about-company__left {
  width: 33.33333%;
  padding-left: 8.33333%;
}

.about-company__left-outer {
  height: 100%;
  position: relative;
}

.about-company__left h2 {
  font-size: 42px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.about-company__information {
  width: 66.66667%;
}

.about-company__information h3 {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-bottom: 40px;
  font-weight: 700;
}

.about-company__information p {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  max-width: 80%;
}

.about-company__information a {
  color: inherit;
}

.about-company .owl-nav {
  position: absolute;
  bottom: 85px;
  width: 100%;
}

.about-company .owl-nav button.owl-prev span,
.about-company .owl-nav button.owl-next span {
  display: none;
}

.about-company .owl-nav button.owl-prev {
  left: 0;
}

.about-company .owl-nav button.owl-next {
  left: 70px;
}

.about-company-slider__slide {
  opacity: 0.3;
  transition: opacity .75s ease;
}

.about-company-slider__slide_forcibly,
.about-company-slider__slide_active,
.about-company-slider__slide:hover {
  opacity: 1;
}

@media screen and (max-width: 1600px) {
  .about-company {
    padding: 50px 0 30px 0;
  }

  .about-company__left h2 {
    font-size: 36px;
  }

  .about-company__information h3 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .about-company__information p {
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
  }
}

@media screen and (max-width: 1240px) {
  .about-company__inner {
    display: block;
    position: relative;
    padding-bottom: 100px;
  }

  .about-company__left {
    width: 100%;
    padding-left: 0;
    margin-bottom: 20px;
  }

  .about-company__left-outer {
    position: static;
  }

  .about-company__information {
    width: 100%;
  }

  .about-company__information h3 {
    font-size: 24px;
    line-height: 36px;
  }

  .about-company .owl-nav {
    bottom: 70px;
  }

  .about-company .owl-nav button.owl-prev span,
  .about-company .owl-nav button.owl-next span {
    display: block;
  }

  .about-company .owl-nav button.owl-prev {
    left: 0;
  }

  .about-company .owl-nav button.owl-next {
    left: auto;
    right: 0;
  }
}

@media screen and (max-width: 760px) {
  .about-company__left h2 {
    font-size: 22px;
  }

  .about-company__information h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .about-company__information p {
    font-size: 14px;
    line-height: 24px;
  }
}


/* ABOUT COMPANY SLIDER */
.about-company-slider {
  overflow: hidden;
  margin-top: 70px;
}

.about-company-slider .owl-carousel .owl-stage-outer {
  overflow: visible;
}

@media screen and (max-width: 1600px) {
  .about-company-slider {
    margin-top: 20px;
  }
}

/* ABOUT COMPANY TIMELINE DATE */
.about-company-timeline-date {
  position: relative;
  height: 250px;
  background: #FFFFFF;
  padding: 50px 60px 20px 130px;
}

.about-company-timeline-date__icon {
  position: absolute;
  top: 0;
  left: 35px;
  width: 50px;
  height: 60px;
  background: #C10230;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-company-timeline-date__icon img {
  max-width: 30px;
  max-height: 35px;
}

.about-company-timeline-date__year {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #232833;
}

.about-company-timeline-date__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #232833;
  margin-bottom: 20px;
}

.about-company-timeline-date__description {
  font-size: 14px;
  line-height: 20px;
  color: #232833;
}

@media screen and (max-width: 1600px) {
  .about-company-timeline-date {
    height: 220px;
    padding: 20px 20px 20px 80px;
  }

  .about-company-timeline-date__icon {
    left: 20px;
    width: 40px;
    height: 50px;
  }

  .about-company-timeline-date__icon img {
    max-width: 30px;
  }

  .about-company-timeline-date__title {
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 1240px) {
  .about-company-timeline-date {
    height: 340px;
    padding: 70px 20px 20px 20px;
  }

  .about-company-timeline-date__title {
    margin-bottom: 20px;
  }
}

.timeline {
  display: flex;
  margin: 50px 0 80px;
}


.timeline:after {
  content: '';
}

.timeline__item,
.timeline:after {
  flex-grow: 1;
  background: url("../images/timline-bg.svg") no-repeat center/100%;
}

.timeline__item {
  position: relative;
  text-align: right;
  height: 40px;
}

.timeline__item-trigger {
  display: inline-block;
  position: absolute;
  top: 2px;
  right: -30px;
  z-index: 1;
  width: 60px;
  cursor: pointer;
}

.timeline__item-trigger:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #002E6D;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.timeline__item-label {
  position: relative;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #fff;
}

.timeline__item-circle {
  position: relative;
  width: 37px;
  height: 37px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
}

.timeline__item-circle:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  background: #C10230;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.75s ease;
}

.timeline__item-circle:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px/2);
  left: calc(50% - 9px/2);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  transform: scale(0.77);
  transition: transform 0.75s ease;
}

.timeline__item_active .timeline__item-trigger:before,
.timeline__item_active .timeline__item-trigger:after,
.timeline__item_active .timeline__item-circle:before,
.timeline__item_active .timeline__item-circle:after,
.timeline__item-trigger:hover:before,
.timeline__item-trigger:hover:after,
.timeline__item-trigger:hover .timeline__item-circle:before,
.timeline__item-trigger:hover .timeline__item-circle:after {
  transform: scale(1);
}


@media screen and (max-width: 760px) {
  .timeline {
    margin: 15px 0 70px;
  }
}

/**
 * ADVANTAGES
 */

.advantages {
  background: url(../images/advantages/bg.jpg) no-repeat center;
  background-size: cover;
}

.advantages .columns {
  padding: 180px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantages .columns .column {
  width: calc(50% - 10px);
}


@media screen and (max-width: 1600px) {
  .advantages .columns {
    padding: 120px 0;
  }
}


@media screen and (max-width: 1240px) {
  .advantages .columns {
    padding: 100px 0;
  }

  .advantages .columns .column {
    width: 75%;
  }

  .advantages .columns .column:last-child {
    width: 25%;
  }
}


@media screen and (max-width: 760px) {
  .advantages {
    background-position: 70% 50%;
  }

  .advantages .columns {
    display: block;
    padding: 20px 0 32px 0;
  }

  .advantages .columns .column {
    width: 100%;
  }

  .advantages .columns .column:last-child {
    width: 100%;
  }
}

/* ADVANTAGES ITEMS */
.advantages-items {
  padding-left: 130px;
}

.advantages-items__item {
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
}

.advantages-items__item:last-child {
  margin-bottom: 0;
}

.advantages-items__icon {
  width: 100px;
  height: 100px;
  background: #002E6D;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.advantages-items__item:hover .advantages-items__icon {
  background: #c10230;
}

.advantages-items__body {
  width: calc(100% - 130px);
}

.advantages-items__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #FFF;
}

.advantages-items__description {
  max-width: 76%;
  font-size: 16px;
  line-height: 28px;
  color: #C4CFD2;
}

@media screen and (max-width: 1600px) {
  .advantages-items {
    padding-left: 100px;
  }

  .advantages-items__item {
    margin-bottom: 40px;
  }

  .advantages-items__icon {
    width: 80px;
    height: 80px;
  }

  .advantages-items__icon img {
    max-width: 30px;
  }

  .advantages-items__body {
    width: calc(100% - 100px);
  }

  .advantages-items__name {
    font-size: 18px;
    line-height: 26px;
  }

  .advantages-items__description {
    max-width: 95%;
    font-size: 14px;
    line-height: 26px;
  }
}

@media screen and (max-width: 1240px) {
  .advantages-items {
    padding-left: 60px;
  }

  .advantages-items__item {
    margin-bottom: 55px;
  }

  .advantages-items__icon {
    width: 60px;
    height: 60px;
  }

  .advantages-items__icon img {
    max-width: 24px;
  }
}

@media screen and (max-width: 760px) {
  .advantages-items {
    padding-left: 0;
  }

  .advantages-items__item {
    margin-bottom: 24px;
  }

  .advantages-items__item:last-child {
    margin-bottom: 0;
  }

  .advantages-items__icon {
    width: 40px;
    height: 40px;
  }

  .advantages-items__icon img {
    max-width: 24px;
  }

  .advantages-items__body {
    width: calc(100% - 60px);
  }

  .advantages-items__name {
    font-size: 16px;
    line-height: 23px;
  }

  .advantages-items__description {
    width: 100%;
    font-size: 13px;
    line-height: 19px;
  }
}


/* ADVANTAGES LINES */
.advantages-lines__line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
}

.advantages-lines__line:nth-child(2n) {
  background: rgba(255, 255, 255, 0.08);
}

.advantages-lines__line:nth-child(2n-1) {
  background: rgba(255, 255, 255, 0.16);
}

.advantages-lines__line:nth-child(1) {
  left: 0;
}

.advantages-lines__line:nth-child(2) {
  left: 25%;
}

.advantages-lines__line:nth-child(3) {
  left: 50%;
}

.advantages-lines__line:nth-child(4) {
  left: 75%;
}

.advantages-lines__line:nth-child(5) {
  left: 100%;
}

@media screen and (max-width: 760px) {

  .advantages-lines__line:nth-child(4),
  .advantages-lines__line:nth-child(5) {
    display: none;
  }

  .advantages-lines__line:nth-child(1) {
    left: 10px;
  }

  .advantages-lines__line:nth-child(2) {
    left: 50%;
  }

  .advantages-lines__line:nth-child(3) {
    left: auto;
    right: 10px;
  }
}

/* ADVANTAGES PLUSES */
.advantages-pluses__plus {
  position: absolute;
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  background: url("../images/plus.svg") no-repeat center;
}

.advantages-pluses__plus:nth-child(1) {
  top: 90px;
  left: 0;
}

.advantages-pluses__plus:nth-child(2) {
  top: 90px;
  left: 25%;
}

.advantages-pluses__plus:nth-child(3) {
  top: 90px;
  left: 50%;
}

.advantages-pluses__plus:nth-child(4) {
  top: 90px;
  left: 75%;
}

.advantages-pluses__plus:nth-child(5) {
  top: 90px;
  left: 100%;
}

.advantages-pluses__plus:nth-child(6) {
  top: 50%;
  left: 0;
}

.advantages-pluses__plus:nth-child(7) {
  top: 50%;
  left: 50%;
}

.advantages-pluses__plus:nth-child(8) {
  top: 50%;
  left: 100%;
}

.advantages-pluses__plus:nth-child(9) {
  bottom: 90px;
  left: 0;
}

.advantages-pluses__plus:nth-child(10) {
  bottom: 90px;
  left: 25%;
}

.advantages-pluses__plus:nth-child(11) {
  bottom: 90px;
  left: 50%;
}

.advantages-pluses__plus:nth-child(12) {
  bottom: 90px;
  left: 75%;
}

.advantages-pluses__plus:nth-child(13) {
  bottom: 90px;
  left: 100%;
}


@media screen and (max-width: 1600px) {
  .advantages-pluses__plus:nth-child(1) {
    top: 60px;
  }

  .advantages-pluses__plus:nth-child(2) {
    top: 60px;
  }

  .advantages-pluses__plus:nth-child(3) {
    top: 60px;
  }

  .advantages-pluses__plus:nth-child(4) {
    top: 60px;
  }

  .advantages-pluses__plus:nth-child(5) {
    top: 60px;
  }

  .advantages-pluses__plus:nth-child(6) {
    top: 50%;
  }

  .advantages-pluses__plus:nth-child(7) {
    top: 50%;
  }

  .advantages-pluses__plus:nth-child(8) {
    top: 50%;
  }

  .advantages-pluses__plus:nth-child(9) {
    bottom: 60px;
  }

  .advantages-pluses__plus:nth-child(10) {
    bottom: 60px;
  }

  .advantages-pluses__plus:nth-child(11) {
    bottom: 60px;
  }

  .advantages-pluses__plus:nth-child(12) {
    bottom: 60px;
  }

  .advantages-pluses__plus:nth-child(13) {
    bottom: 60px;
  }
}


@media screen and (max-width: 760px) {
  .advantages-pluses {
    display: none;
  }
}

/* ADVANTAGES VIDEO */
.advantages-video__play {
  text-decoration: none;
}

.advantages-video__play-outer {
  width: 200px;
  height: 200px;
  padding: 35px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.advantages-video__play-inner {
  width: 130px;
  height: 130px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.advantages-video__play-wrapper {
  width: 70px;
  height: 70px;
  background: #C10230;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s linear;
}

.advantages-video__play-wrapper:hover {
  cursor: pointer;
  background: #002E6D;
}

.advantages-video__play-wrapper svg path {
  fill: #FFFFFF;
}

.advantages-video__play-subtitle {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 10px 0 50px 0;
}

.advantages-video__downloads {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  text-decoration: none;
}

.advantages-video__downloads-item {
  display: block;
  width: 50%;
  text-align: center;
  text-decoration: none;
}

.advantages-video__downloads-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s linear;
  background: url(../images/download-icon.svg) no-repeat center;
  margin-bottom: 10px;
}

.advantages-video__downloads-icon:focus {
  outline: none;
}

.advantages-video__downloads-icon:hover {
  background-color: #C10230;
  border-color: #C10230;
  transform: scale(1.16, 1.16);
}

.advantages-video__downloads-icon>span {
  position: relative;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
  transform: translateX(60px);
}

.advantages-video__downloads-name {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.advantages-video__downloads-description {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #8E959D;
}

@media screen and (max-width: 1600px) {
  .advantages-video__play-outer {
    width: 180px;
    height: 180px;
  }

  .advantages-video__play-inner {
    width: 110px;
    height: 110px;
    padding: 25px;
  }

  .advantages-video__play-wrapper {
    width: 60px;
    height: 60px;
  }

  .advantages-video__play-subtitle {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1240px) {
  .advantages-video {
    padding: 0 10px;
  }

  .advantages-video__play-outer {
    width: 90px;
    height: 90px;
    padding: 0;
    background: transparent;
  }

  .advantages-video__play-inner {
    width: 90px;
    height: 90px;
    padding: 20px;
  }

  .advantages-video__play-wrapper {
    width: 50px;
    height: 50px;
  }

  .advantages-video__play-subtitle {
    margin-bottom: 24px;
  }

  .advantages-video__downloads {
    display: block;
    max-width: 100%;
    margin: 0;
    width: 100%;
  }

  .advantages-video__downloads-item {
    width: 100%;
    margin-top: 40px;
  }

  .advantages-video__downloads-icon {
    width: 10px;
    height: 12px;
    border: 0;
    border-radius: 0;
    transition: none;
    margin-bottom: 5px;
  }

  .advantages-video__downloads-icon:hover {
    background-color: transparent;
    transform: scale(1, 1);
  }

  .advantages-video__downloads-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
  }

  .advantages-video__downloads-description {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #8E959D;
  }
}


@media screen and (max-width: 760px) {
  .advantages-video {
    padding: 50px 0 0 0;
  }

  .advantages-video__play {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .advantages-video__play-outer {
    width: 40px;
    height: 40px;
    margin: 0;
  }

  .advantages-video__play-inner {
    width: inherit;
    height: inherit;
    padding: 0;
  }

  .advantages-video__play-wrapper {
    width: inherit;
    height: inherit;
  }

  .advantages-video__play-subtitle {
    width: calc(100% - 60px);
    margin: 0;
    text-align: left;
  }

  .advantages-video__downloads {
    display: flex;
  }

  .advantages-video__downloads-item {
    margin-top: 30px;
    text-align: left;
  }

  .advantages-video__downloads-icon {
    display: none;
  }

  .advantages-video__downloads-name {
    font-size: 14px;
    line-height: 20px;
  }

  .advantages-video__downloads-description {
    font-size: 14px;
    line-height: 20px;
    color: #C4CFD2;
  }
}



/**
 * PRODUCTION
 */

.production {
  padding: 150px 0 50px;
}

@media screen and (max-width: 1600px) {
  .production {
    padding: 100px 0 30px;
  }
}

@media screen and (max-width: 760px) {
  .production {
    padding: 50px 0 20px;
  }
}

/* PRODUCTION HEADER */
.production-header {
  display: flex;
  justify-content: flex-start;
}

.production-header__title {
  padding-left: 8.33333%;
  width: 33.33333%;
}

.production-header__title h2 {
  font-size: 42px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #002E6D;
}

.production-header__description {
  width: 50%;
}

.production-header__description p {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #232833;
  margin-bottom: 20px;
}

.production-header__download {
  display: flex;
  align-items: center;
}

.production-header__download-icon {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #E0E7E8;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s linear;
  background: url(../images/download-icon-red.svg) no-repeat center;
}

.production-header__download-icon:focus {
  outline: none;
}

.production-header__download-icon:hover {
  background-color: #C10230;
  border-color: #C10230;
  transform: scale(1.16, 1.16);
}

.production-header__download-icon>span {
  position: relative;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
  transform: translateX(60px);
}

.production-header__download-icon:hover {
  background-image: url(../images/download-icon.svg);
}

.production-header__download-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #C10230;
}

.production-header__download-description {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #8E959D;
}


@media screen and (max-width: 1600px) {
  .production-header__title h2 {
    font-size: 36px;
    line-height: 46px;
  }

  .production-header__description p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1240px) {
  .production-header {
    display: block;
    padding-left: 8.33333%;
  }

  .production-header__title {
    padding-left: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .production-header__description {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 760px) {
  .production-header {
    padding-left: 0;
  }

  .production-header__title {
    margin-bottom: 10px;
  }

  .production-header__title h2 {
    font-size: 22px;
    line-height: 32px;
  }

  .production-header__description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}


/**
 * SCHEMES
 */

.schemes {
  padding-bottom: 60px;
}

@media (min-width: 760px) {
  .schemes {
    margin-top: 30px;
    margin-bottom: 100px;
  }
}

/* SCHEME */
.scheme {
  position: relative;
  text-align: center;
}

.scheme__main {
  position: relative;
  display: inline-block;
}

.scheme__placeholder {
  visibility: hidden;
}

.scheme__image-stage {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  opacity: 0;
  transition: all 1s ease;
}

.scheme__image-stage_active {
  opacity: 1;
}

.scheme__labels {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.scheme__label {
  cursor: pointer;
}

.scheme__label * {
  transition: all 0.3s ease;
}

.scheme__label text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.03em;
  text-decoration: underline;
}

.scheme__label path {
  stroke: #002E6D;
}

.scheme__label text,
.scheme__label rect,
.scheme__label circle {
  fill: #002E6D;
}

.scheme__label:hover path,
.scheme__label_active path {
  stroke: #c10230;
}

.scheme__label:hover text,
.scheme__label:hover rect,
.scheme__label:hover circle,
.scheme__label_active text,
.scheme__label_active rect,
.scheme__label_active circle {
  fill: #c10230;
}

.scheme__description {
  width: 66.66667%;
  margin: auto;
}

@media (max-width: 760px) {
  .scheme__label text {
    font-size: 14px;
  }

  .scheme__description {
    text-align: left;
  }
}

/* SCHEME GAS */

.scheme-gas .scheme__main {
  width: 237.29px;
}

.scheme-gas .scheme__labels {
  margin-top: -5%;
}

.scheme-gas .scheme__description {
  margin-top: 30px;
}



@media (max-width: 760px) {
  .scheme-gas {
    margin-top: 100px;
  }

  .scheme-gas .scheme__description {
    margin-top: 100px;
  }
}


@media (min-width: 1600px) {
  .scheme-gas .scheme__main {
    width: 323.6px;
  }
}


/* SCHEME TEPLO */
.scheme-teplo {
  margin-top: 100px;
}

@media (max-width: 1240px) {
  .scheme-teplo {
    margin-top: 160px;
  }
}

@media (max-width: 760px) {
  .scheme-teplo {
    margin-top: 200px;
  }
}

.scheme-teplo .scheme__main {
  width: 792px;
}

@media (max-width: 1600px) {
  .scheme-teplo .scheme__main {
    width: 462.64px;
  }
}

@media (max-width: 1240px) {
  .scheme-teplo .scheme__main {
    width: 339.36px;
  }
}

@media (max-width: 760px) {
  .scheme-teplo .scheme__main {
    width: 280px;
  }
}

.scheme-teplo .scheme__description {
  margin-top: 50px;
}

@media (max-width: 1240px) {
  .scheme-teplo .scheme__description {
    margin-top: 160px;
  }
}

@media (max-width: 760px) {
  .scheme-teplo .scheme__description {
    margin-top: 200px;
  }
}



/**
 * TABS
 */

.tabs {
  text-align: center;
}

.tabs__nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0;
  padding: 0 25px;
  border: 1px solid #E0E7E8;
  background: #FAFAFA;
  border-radius: 300px;
}

@media screen and (max-width: 760px) {
  .tabs__nav {
    padding: 0 10px;
  }
}

.tabs__nav-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 60px;
  margin: 0 -25px;
}

@media screen and (max-width: 760px) {
  .tabs__nav-item {
    height: 50px;
    margin: 0 -10px;
  }
}

.tabs__nav-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 25px;
  color: #8E959D;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: -0.03em;
  text-decoration: none;
  background: rgba(255, 255, 255, 0);
  border-radius: 300px;
  transition: all 0.75s;
}

.tabs__nav-item_active .tabs__nav-link {
  z-index: 1;
}

.tabs__nav-item_active .tabs__nav-link,
.tabs__nav-link:hover {
  background: #002e6d;
  color: #fff;
}

.tabs__nav-item_active .tabs__nav-link_red,
.tabs__nav-link_red:hover {
  background: #bf0433;
}

.tabs__body {
  text-align: left;
}

.tabs__item {
  display: none;
}

.tabs__item_active {
  display: block;
}



/**
 * NEWS
 */

/* ALL NEWS PAGE */
.all-news-page {
  padding: 60px 0;
}

/* BTN MORE NEWS */
.btn-more-news {
  display: block;
  width: 100%;
  padding: 25px 10px;
  margin-top: 50px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.05em;
  text-align: center;
  color: #C4CFD2;
  background: transparent;
  border: none;
  border-top: 1px solid #E0E7E8;
}

.btn-more-news:focus {
  outline: none;
}

.news-grid-cards {
  display: flex;
  flex-wrap: wrap;
  margin: auto -10px;
}

.news-grid-cards>* {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

@media (max-width: 1240px) {
  .news-grid-cards>* {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 640px) {
  .news-grid-cards>* {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.news-card {
  display: inline-block;
  position: relative;
  padding: 10px;
  margin: 20px 0;
  width: 500px;
}

.news-card__prewiew {
  margin: 10px auto;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  border: 1px solid #eee;
}

@media (max-width: 1600px) {
  .news-card__prewiew {
    height: 250px;
  }
}

.news-card__date {
  margin: 10px auto;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #8E959D;
}

.news-card__title {
  margin: 10px auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #232833;
}

.news-card__description {
  margin: 10px auto;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  /* Серый для текста */
  color: #8E959D;
}

.news-card__read {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #C10230;
}

.news-card__read:after {
  content: '';
  position: relative;
  top: 2px;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background: url("../images/news/read-arrow.svg") no-repeat center/100%;
}

.news-card__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.news-list {
  padding-bottom: 150px;
}

.news-list__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 35px;
}

.news-list__header-title {
  padding-left: 8.33333%;
  width: 50%;
}

.news-list__header-title h2 {
  font-size: 42px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #002E6D;
}

.news-list__header-read-more {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.news-list__header-read-more span {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #8E959D;
  margin-right: 20px;
}

.news-list__header-read-more a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #E0E7E8;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s linear;
}

.news-list__header-read-more a:focus {
  outline: none;
}

.news-list__header-read-more a:hover {
  background-color: #C10230;
  border-color: #C10230;
  transform: scale(1.16, 1.16);
}

.news-list__header-read-more a>span {
  position: relative;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
  transform: translateX(60px);
}

.news-list__header-read-more a svg path {
  fill: #C10230;
}

.news-list__header-read-more a:hover svg path {
  fill: #FFFFFF;
}

.news-list__articles {
  display: flex;
  justify-content: space-between;
}

.news-list__articles-item {
  margin-right: 20px;
}

.news-list__articles-item:last-child {
  margin-right: 0;
}

.news-list__articles-image {
  margin-bottom: 10px;
}

.news-list__articles-image:hover~.news-articles__name a {
  color: #C10230;
}

.news-list__articles-date {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #8E959D;
  margin-bottom: 4px;
}

.news-list__articles-name a {
  text-decoration: underline;
  font-size: 16px;
  line-height: 26px;
  color: #232833;
}

.news-list__articles-name a:hover {
  color: #C10230;
}

@media screen and (max-width: 1600px) {
  .news-list {
    padding-bottom: 120px;
  }

  .news-list__header {
    margin-bottom: 25px;
  }

  .news-list__header-title h2 {
    font-size: 36px;
    line-height: 46px;
  }

  .news-list__articles-image {
    margin-bottom: 10px;
  }

  .news-list__articles-name a {
    font-size: 14px;
  }
}

@media screen and (max-width: 1240px) {
  .news-list__articles-item:nth-child(2) {
    margin-right: 0;
  }

  .news-list__articles-item:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .news-list {
    padding-bottom: 0;
  }

  .news-list__header {
    margin-bottom: 20px;
  }

  .news-list__header-title {
    padding-left: 0;
  }

  .news-list__header-title h2 {
    font-size: 22px;
    line-height: 32px;
  }

  .news-list__header-read-more span {
    margin-right: 10px;
  }

  .news-list__header-read-more a {
    width: 10px;
    height: 10px;
    border: 0;
    transition: none;
  }

  .news-list__articles {
    display: block;
  }

  .news-list__articles-item {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .news-list__articles-item:nth-child(3) {
    display: block;
  }

  .news-list__articles-date {
    margin-bottom: 0;
  }
}

/* NEWS GALLERY */
.news-gallery {
  background: #EEEEEE;
}

/* GO TO ALL NEWS */
.go-to-all-news {
  display: inline-block;
}

.go-to-all-news__icon {
  display: inline-block;
  width: 3.75em;
  height: 3.75em;
  line-height: 3.75em;
  text-align: center;
  border: 1px solid #E0E7E8;
  border-radius: 50%;
}

.go-to-all-news__icon img {
  width: 10px;
  height: 10px;
}

.go-to-all-news__text {
  display: inline-block;
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #8E959D;
}

/* NEWS HEADER */
.news-header {
  display: flex;
  flex-direction: column-reverse;
}

.news-header__logo {
  text-align: center;
  padding: 2rem 1rem;
}

@media (min-width: 1240px) {
  .news-header {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 10px 8.33333% 10px;
  }

  .news-header__logo {
    padding: 2rem 1rem;
    flex: 0 0 33.33333%;
    text-align: right;
  }

  .news-header__logo img {
    width: 75%;
  }
}

.news-header__h {
  margin: 30px auto;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #002E6D;
}

@media (max-width: 760px) {
  .news-header__h {
    font-size: 30px;
  }
}

.news-header__desc {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.03em;
  color: #232833;
}

@media (max-width: 760px) {
  .news-header__desc {
    font-size: 18px;
  }
}

.news-header__publication-date {
  color: #8E959D;
}

/* NEWS PAGE */
.news-page__go-to-all-news {
  margin-top: 60px;
}

@media (min-width: 1240px) {
  .news-page__go-to-all-news {
    margin-left: 8.33333%;
    margin-bottom: 30px;
  }
}

@media (min-width: 1240px) {
  .news-page__article {
    padding: 10px 33.33333% 100px 8.33333%;
  }
}

.news-page__next {
  border-top: 1px solid #E0E7E8;
  padding: 50px 0;
}

.news-page__next h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: -0.03em;
  color: #002E6D;
}

.news-page__next h3 a {
  color: inherit;
  text-decoration: none;
}

.news-page__next h3 a:hover {
  text-decoration: underline;
}



/**
 * PARALLAX
 */

.parallax {
  position: relative;
  padding: 180px 0;
  overflow: hidden;
  text-align: center;
}

.parallax__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/parallax/bg.jpg") no-repeat center;
  background-size: cover;
  transition: transform 0.1s ease;
}

.parallax svg {
  margin: auto;
  max-width: 100%;
  transition: transform 0.1s ease;
}

.parallax svg path {
  fill: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 1600px) {
  .parallax {
    padding: 120px 0;
  }
}

@media screen and (max-width: 1240px) {
  .parallax {
    padding: 70px 0;
  }

  .parallax svg
  {
    height: 290px;
  }
}

@media screen and (max-width: 760px) {
  .parallax {
    padding: 30px 10px;
  }

  .parallax svg {
    height: 140px;
  }
}


/**
 * BANNER
 */

.banner {
  position: relative;
  padding: 180px 0;
  overflow: hidden;
  text-align: center;
}

.banner__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/parallax/bg.jpg") no-repeat center;
  background-size: cover;
  transition: transform 0.1s ease;
}

.banner__content {
  display: flex;

  position: relative;
  z-index: 1;

  width: 100vw;
  height: 25vw;
  
  flex-direction: column;
  justify-content: center;
  
  text-align: left;
}

@media screen and (max-width: 1600px) {
  .banner {
    padding: 120px 0;
  }
}

@media screen and (max-width: 1240px) {
  .banner {
    padding: 70px 0;
  }

  .banner__content
  {
    height: 290px;
  }
}

@media screen and (max-width: 760px) {
  .banner {
    padding: 30px 10px;
  }
}

/**
 * DOCUMENTS
 */

.documents {
  padding: 150px 0;
}


@media screen and (max-width: 1600px) {
  .documents {
    padding: 100px 0;
  }
}


@media screen and (max-width: 760px) {
  .documents {
    padding: 50px 0 40px 0;
  }
}

/* DOCUMENTS-HEADER */
.documents-header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 35px;
}

.documents-header__title {
  padding-left: 8.33333%;
  width: 33.33333%;
}

.documents-header__title h2 {
  font-size: 42px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #002E6D;
}

.documents-header__description {
  width: 66.66667%;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #232833;
}

@media screen and (max-width: 1600px) {
  .documents-header {
    margin-bottom: 40px;
  }

  .documents-header__title h2 {
    font-size: 36px;
    line-height: 46px;
  }

  .documents-header__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1240px) {
  .documents-header {
    display: block;
  }

  .documents-header__title {
    padding-left: 8.33333%;
    width: 100%;
    margin-bottom: 20px;
  }

  .documents-header__description {
    padding-left: 8.33333%;
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .documents-header__title {
    padding-left: 0;
    margin-bottom: 10px;
  }

  .documents-header__title h2 {
    font-size: 22px;
    line-height: 32px;
  }

  .documents-header__description {
    padding-left: 0;
    font-size: 14px;
    line-height: 24px;
  }
}

/* DOCUMENTS ACCORDEON */
.documents-accordeon__item {
  border-bottom: 1px solid #E0E7E8;
}

.documents-accordeon__item:first-child {
  border-top: 1px solid #E0E7E8;
}

.documents-accordeon__content {
  position: relative;
}

.documents-accordeon__content .owl-theme .owl-nav {
  position: absolute;
  bottom: 80px;
  width: 100%;
}

.documents-accordeon__content .owl-theme .owl-nav button.owl-prev {
  right: 70px;
}

.documents-accordeon__content .owl-theme .owl-nav button.owl-next {
  right: 0;
}

/* DOCUMENTS ACCORDEON HEADER */
.documents-accordeon-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  cursor: pointer;
}

.documents-accordeon-header__name {
  padding-left: 8.33333%;
  width: 50%;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #232833;
}

.documents-accordeon-header__count {
  padding-right: 8.33333%;
  width: 41.66667%;
  text-align: right;
  font-size: 18px;
  letter-spacing: -0.03em;
  color: #8E959D;
}

.documents-accordeon-header__trigger {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
}

.documents-accordeon-header__trigger svg path {
  fill: #C4CFD2;
}

.documents-accordeon-header+.documents-accordeon__content {
  overflow: hidden;
  height: 0;
  opacity: 0;
  padding-bottom: 0;
}

.documents-accordeon-header--active .documents-accordeon-header__trigger svg {
  transform: rotate(45deg);
}

.documents-accordeon-header--active+.documents-accordeon__content {
  height: auto;
  opacity: 1;
  padding-bottom: 90px;
  overflow: visible;
}

.documents-accordeon-header:hover .documents-accordeon-header__name {
  color: #C10230;
}

.documents-accordeon-header:hover .documents-accordeon-header__trigger svg path {
  fill: #C10230;
}

@media screen and (max-width: 1600px) {
  .documents-accordeon-header__name {
    font-size: 18px;
  }
}

@media screen and (max-width: 1240px) {
  .documents-accordeon-header {
    padding: 30px 0;
  }

  .documents-accordeon-header__count {
    padding-right: 16.66667%;
  }
}

@media screen and (max-width: 760px) {
  .documents-accordeon-header {
    padding: 20px 0;
    display: block;
  }

  .documents-accordeon-header__name {
    padding-left: 0;
    width: 90%;
    font-size: 16px;
    line-height: 23px;
  }

  .documents-accordeon-header__count {
    padding-right: 0;
    width: 90%;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
  }
}

/* DOCUMENTS DOCUMENT */
.documents-document {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: #F7F7F7;
  height: 370px;
  cursor: pointer;
}

.documents-document__type {
  position: relative;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin: 0 0 24px 12px;
  text-align: center;
  background: #002E6D;
  padding: 0 4px;
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
}

.documents-document__type:before {
  content: '';
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-bottom: 25px solid #002E6D;
  border-left: 12px solid transparent;
}

.documents-document__type:after {
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
  width: 0;
  height: 0;
  border-top: 25px solid #002E6D;
  border-right: 12px solid transparent;
}

.documents-document__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: #232833;
  margin-bottom: 10px;
}

.documents-document__description {
  font-size: 16px;
  line-height: 26px;
  color: #8E959D;
}

.documents-document__footer {
  /* TODO: Открыть документы после утверждения */
  display: none !important;

  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.documents-document__footer .icon {
  width: auto !important;
  display: inline-block !important;
}

.documents-document__footer a {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #8E959D;
  text-decoration: none;
}

.documents-document__footer a svg {
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.documents-document__footer a svg path {
  fill: #C10230;
}

.documents-document:hover {
  background: #002E6D;
}

.documents-document:hover .documents-document__type {
  background: #C10230;
}

.documents-document:hover .documents-document__type:before {
  border-bottom-color: #C10230;
}

.documents-document:hover .documents-document__type:after {
  border-top-color: #C10230;
}

.documents-document:hover .documents-document__name,
.documents-document:hover .documents-document__description {
  color: #FFFFFF;
}

.documents-document:hover .documents-document__footer a {
  color: #FFFFFF;
}

.documents-document:hover .documents-document__footer a svg path {
  fill: #FFFFFF;
}

@media screen and (max-width: 1600px) {
  .documents-document {
    height: 380px;
  }

  .documents-document__name {
    font-size: 18px;
    line-height: 26px;
  }

  .documents-document__description {
    font-size: 14px;
  }
}


@media screen and (max-width: 1240px) {
  .documents-document {
    height: 340px;
  }

  .documents-document__footer a {
    display: inline-block;
  }

  .documents-document__footer a svg {
    display: block;
    position: relative;
    top: 0;
    margin-bottom: 5px;
  }
}


@media screen and (max-width: 760px) {
  .documents-document {
    padding: 20px;
  }

  .documents-document__name {
    font-size: 16px;
    line-height: 23px;
  }

  .documents-document__description {
    font-size: 14px;
    line-height: 26px;
  }

  .documents-document__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .documents-document__footer a {
    margin-bottom: 10px;
  }

  .documents-document__footer a svg {
    display: inline;
    top: 6px;
  }
}


/*  DOCUMENTS ACCORDEON SLIDER */
@media screen and (max-width: 1240px) {
  .documents-accordeon-slider {
    margin-bottom: 20px;
  }
}

/**
 * PARTNERS
 */

.partners {
  padding: 100px 0 100px 0;
  background: #002E6D;
  color: #fff;
}

.partners-header * {
  color: #fff;
}

.partners .owl-theme .owl-nav {
  position: absolute;
  bottom: 50px;
  width: 100%;
  z-index: 1;
}

.partners .owl-theme .owl-nav button.owl-prev {
  right: 70px;
}

.partners .owl-theme .owl-nav button.owl-next {
  right: 0;
}


@media screen and (max-width: 1240px) {
  .partners {
    padding: 50px 0 50px 0;
  }

  .partners .owl-theme .owl-nav {
    bottom: 40px;
  }
}

@media screen and (max-width: 760px) {
  .partners {
    padding: 50px 0 90px 0;
  }

  .partners .owl-theme {
    display: none;
  }
}

/* PARTNERS HEADER */
.partners-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 35px;
}

.partners-header__title {
  padding-left: 8.33333%;
  width: 33.33333%;
}

.partners-header__title h2 {
  font-size: 42px;
  line-height: 60px;
  letter-spacing: -0.03em;
}

.partners-header__description {
  width: 50%;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.03em;
}

.partners-header__description a {
  color: #C10230;
  text-decoration: none;
}

.partners-header__description a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1600px) {
  .partners-header {
    margin-bottom: 40px;
  }

  .partners-header__title h2 {
    font-size: 36px;
    line-height: 46px;
  }

  .partners-header__description {
    font-size: 16px;
    line-height: 24px;
  }

  .partners-slider {
    margin-top: 40px;
  }

  .partners-slider__slide {
    width: 220px;
    height: 220px;
  }
}

@media screen and (max-width: 1240px) {
  .partners-header {
    display: block;
  }

  .partners-header__title {
    padding-left: 8.33333%;
    width: 100%;
    margin-bottom: 20px;
  }

  .partners-header__description {
    padding-left: 8.33333%;
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .partners-header__title {
    padding-left: 0;
    margin-bottom: 10px;
  }

  .partners-header__title h2 {
    font-size: 22px;
    line-height: 32px;
  }

  .partners-header__description {
    padding-left: 0;
    font-size: 14px;
    line-height: 24px;
  }
}


/* PARTNERS SLIDER */
.partners-slider {
  padding-bottom: 50px;
  margin-top: 70px;
  overflow: hidden;
}

.partners-slider .owl-carousel .owl-stage-outer {
  overflow: visible;
}

.partners-slider__slide {
  width: 270px;
  height: 270px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-slider__slide img {
  width: auto !important;
  max-width: 70%;
  max-height: 185px;
}

.partners-slider__after {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

@media screen and (max-width: 1240px) {
  .partners-slider {
    margin-top: 20px;
  }

  .partners-slider__slide {
    width: 160px;
    height: 160px;
  }

  .partners-slider__slide img {
    max-height: 120px;
  }
}


@media screen and (min-width: 767px) {
  .partners-slider__after {
    flex-direction: row-reverse;
  }

  .partners-slider__after .carousel-hint {
    opacity: 0;
  }
}

@media screen and (max-width: 760px) {
  .partners-slider__slide {
    width: 180px;
    height: 180px;
  }
}


/**
 * CUSTOMERS
 */

.customers {
  padding: 100px 0 100px 0;
  background: #EEEEEE;
}

.customers .owl-theme .owl-nav {
  position: absolute;
  bottom: 50px;
  width: 100%;
  z-index: 1;
}

.customers .owl-theme .owl-nav button.owl-prev {
  right: 70px;
}

.customers .owl-theme .owl-nav button.owl-next {
  right: 0;
}

@media screen and (max-width: 1240px) {
  .customers {
    padding: 50px 0 50px 0;
  }

  .customers .owl-theme .owl-nav {
    bottom: 40px;
  }
}

@media screen and (max-width: 760px) {
  .customers {
    padding: 50px 0 90px 0;
  }

  .customers .owl-theme {
    display: none;
  }
}


/* CUSTOMERS HEADER */
.customers-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 35px;
}

.customers-header__title {
  padding-left: 8.33333%;
  width: 33.33333%;
}

.customers-header__title h2 {
  font-size: 42px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #002E6D;
}

.customers-header__description {
  width: 50%;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #232833;
}

.customers-header__description a {
  color: #C10230;
  text-decoration: none;
}

.customers-header__description a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1600px) {
  .customers-header {
    margin-bottom: 40px;
  }

  .customers-header__title h2 {
    font-size: 36px;
    line-height: 46px;
  }

  .customers-header__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1240px) {
  .customers-header {
    display: block;
  }

  .customers-header__title {
    padding-left: 8.33333%;
    width: 100%;
    margin-bottom: 20px;
  }

  .customers-header__description {
    padding-left: 8.33333%;
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .customers-header__title {
    padding-left: 0;
    margin-bottom: 10px;
  }

  .customers-header__title h2 {
    font-size: 22px;
    line-height: 32px;
  }

  .customers-header__description {
    padding-left: 0;
    font-size: 14px;
    line-height: 24px;
  }
}


/* CUSTOMERS SLIDER */
.customers-slider {
  margin-top: 70px;
  padding-bottom: 50px;
  overflow: hidden;
}

.customers-slider .owl-carousel .owl-stage-outer {
  overflow: visible;
}

.customers-slider__slide {
  width: 270px;
  height: 270px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers-slider__slide img {
  width: auto !important;
  max-width: 70%;
  max-height: 185px;
}

.customers-slider__after {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

@media screen and (max-width: 1600px) {
  .customers-slider {
    margin-top: 40px;
  }

  .customers-slider__slide {
    width: 220px;
    height: 220px;
  }
}

@media screen and (max-width: 1240px) {
  .customers-slider {
    margin-top: 20px;
  }

  .customers-slider__slide {
    width: 160px;
    height: 160px;
  }

  .customers-slider__slide img {
    max-height: 110px;
  }
}

@media screen and (min-width: 767px) {
  .customers-slider__after {
    flex-direction: row-reverse;
  }

  .customers-slider__after .carousel-hint {
    opacity: 0;
  }
}

@media screen and (max-width: 760px) {
  .customers-slider__slide {
    width: 180px;
    height: 180px;
  }
}




/**
 * CONTACTS
 */

.contacts {
  padding: 50px 0;
  background: #002E6D url(../images/contacts/bg.jpg) no-repeat center top;
  background-size: cover;
  background-position: 50% 100%;
  color: #fff;
}

.contacts h5 {
  color: #ccc;
  font-weight: normal;
  margin-bottom: -15px;
}
.contacts p {
  margin-top: 25px;
  color: #8E959D;
}

.contacts a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.contacts a:hover {
  text-decoration: underline;
}

.contacts h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: -0.03em;
}

.contacts__row {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 15px -10px;
}

.contacts__col {
  padding: 0 10px;
}

.contacts input,
.contacts button {
  display: block;
  width: 100%;
  height: 60px;
  padding: 25px;
  margin: 15px 0;
  border: none;
}

.contacts button {
  background: #c10230;
  color: #fff;
  font-weight: bold;
}

.contacts .checkbox {
  position: relative;
  color: #fff;
}

.contacts .checkbox input {
  display: none;
  width: 0;
  padding: 0;
  margin: 0;
}

.contacts .checkbox input+span:before {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  background: #EEEEEE;
  border: 2px solid #EEEEEE;
  vertical-align: middle;
  margin: 0 8px 2px 0;
}

.contacts .checkbox input:checked+span:before {
  background: #002E6D;
}

.contacts .checkbox a {
  color: #c10230;
}

.contacts__download {
  margin-top: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contacts__download-icon {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #E0E7E8;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s linear;
  background: url(../images/download-icon.svg) no-repeat center;
}

.contacts__download-icon:focus {
  outline: none;
}

.contacts__download-icon:hover {
  background-color: #C10230;
  border-color: #C10230;
  transform: scale(1.16, 1.16);
}

.contacts__download-icon>span {
  position: relative;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
  transform: translateX(60px);
}

.contacts__download-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.contacts__download-description {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #8E959D;
}


@media screen and (max-width: 1600px) {
  .contacts__download {
    display: flex;
    align-items: center;
  }

  .contacts__download-icon {
    margin-right: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #E0E7E8;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s linear;
    background: url(../images/download-icon.svg) no-repeat center;
  }

  .contacts__download-icon:focus {
    outline: none;
  }

  .contacts__download-icon:hover {
    background-color: #C10230;
    border-color: #C10230;
    transform: scale(1.16, 1.16);
  }

  .contacts__download-icon>span {
    position: relative;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #fff;
    text-align: left;
    transform: translateX(60px);
  }
}

@media screen and (min-width: 1240px) {
  .contacts__row {
    flex-direction: row;
  }

  .contacts__col {
    flex: 0 0 25%;
  }
}


/**
 * STUB
 */

.stub {
  text-align: center;
}

.stub__h {
  width: 980px;
  max-width: 100%;
  margin: 1em auto;
}

.stub__h_1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  /* or 127% */
  text-align: center;
  letter-spacing: -0.03em;
  color: #98A5AF;
}

.stub__h_2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #002E6D;
}

.stub__h_3 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 46px;
  /* or 192% */
  text-align: center;
  letter-spacing: -0.03em;
  color: #8E959D;
}

.stub__go-back {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 46px;
  /* or 192% */
  text-align: center;
  letter-spacing: -0.03em;
  color: #c10230;
}

.stub__image {
  margin-top: 150px;
}

.stub__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
  color: #002E6D;
  line-height: 1.8;
  margin-bottom: 100px;
}

.stub__header a {
  color: #002E6D;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.stub__header a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 760px) {
  .stub__header {
    flex-direction: column;
    text-align: center;
  }

  .stub__header-logo {
    padding: 40px 0;
  }
}

@media screen and (min-width: 760px) {
  .stub__header-tel {
    text-align: left;
  }

  .stub__header-email {
    text-align: right;
  }
}


/**
 * SLIDER
 */

.slider {
  position: relative;
  overflow: hidden;
  padding: 100px 0 100px 0;
  background: #EEEEEE;
}

.slider .container {
  width: 800px;
  max-width: 100%;
}

.slider .owl-theme .owl-nav {
  position: absolute;
  bottom: 50px;
  width: 100%;
  z-index: 1;
}

.slider .owl-theme .owl-nav button.owl-prev {
  right: 70px;
}

.slider .owl-theme .owl-nav button.owl-next {
  right: 0;
}

.slider .owl-carousel .owl-stage-outer {
  overflow: visible;
}

.slider__slide {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__after {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 20px;
}


@media screen and (max-width: 1240px) {
  .slider .container {
    width: 640px;
  }

  .slider {
    padding: 50px 0 50px 0;
  }

  .slider .owl-theme .owl-nav {
    bottom: 40px;
  }

  .slider {
    margin-top: 20px;
  }
}


@media screen and (min-width: 767px) {
  .slider__after {
    flex-direction: row-reverse;
  }

  .slider__after .carousel-hint {
    opacity: 0;
  }
}

@media screen and (max-width: 760px) {
  .slider {
    padding: 50px 0 40px 0;
  }

  .slider .owl-theme {
    display: none;
  }
}


/**
 * ACTIVITIES
 */

.activities-slider {
  position: relative;
  background: #eee;
  height: 568px;
}

.activities-slider__slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  opacity: 0;
  transition: all 0.75s ease;
}

.activities-slider__slide_active {
  opacity: 1;
  z-index: 1;
}

.activities-slider__bg {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
}

.activities-slider__header {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 285px;

  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
}

.activities-slider__text {
  position: absolute;
  right: 0;
  bottom: 0;
  
  padding: 40px 20px;
  
  max-width: 970px;
  overflow: hidden;
  
  color: #fff;
  background: rgba(255, 255, 255, 0.8);
}

.activities-slider__h {
  color: #232833;
}

.activities-slider__desc {
  color: #777;
}

.activities-slider_dark .activities-slider__text {
  background: rgba(0, 46, 109, 0.7);
}

.activities-slider_dark .activities-slider__text *:not(a) {
  color: #fff;
}

.activities-slider__text a {
  color: #C10230;
}

.activities-slider__controls {
  display: flex;

  position: absolute;
  right: 0;
  bottom: 30px;
  z-index: 2;

  width: 340px;

  padding: 10px 20px;

  align-items: center;
  justify-content: space-between;
}

.activities-slider__arrows {
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.activities-slider__desc {
  line-height: 1.4;
}

.activities-slider:not(.activities-slider_dark) .circle-btn:hover img {
  filter: invert(100%);
}

@media screen and (max-width: 760px) {
  .activities-slider__controls {
    width: 100%;
  }

  .activities-slider__bg {
    height: 240px;
    box-shadow: inset 33px 110px 160px rgba(0, 0, 0, 0.3);
  }

  .activities-slider__text {
    height: 328px;
  }

  .activities-slider:not(.activities-slider_dark) .activities-slider__text {
    background: #E6E4E7;
  }
}

@media screen and (min-width: 760px) {
  .activities-slider {
    height: 100vh;
  }

  .activities-slider__header {
    top: 160px;
    left: 65px;
    width: 350px;
  }

  .activities-slider__text {
    width: 614px;
    height: 365px;
    
    margin-bottom: 30px;
    padding: 60px;
  }

  .activities-slider__desc {
    font-size: 20px;
  }

  .activities-slider__controls {
    right: 230px;
    bottom: 50px;
  }

}

@media screen and (min-width: 992px) {
  .activities-slider {
    /*height: 720px;*/
  }

  .activities-slider__text {
    width: 651px;
    height: 275px;

    margin-bottom: 30px;
    padding: 30px;
  }

  .activities-slider__controls {
    right: 280px;
    bottom: 40px;
  }
}

@media screen and (min-width: 1600px) {
  .activities-slider {
    /*height: 900px;*/
  }
}

@media screen and (min-width: 1920px) {
  .activities-slider {
    /*height: 1080px;*/
  }

  .activities-slider__header {
    top: 180px;
    left: 100px;
    width: 520px;
    font-size: 30px;
    line-height: 38px;
  }

  .activities-slider__text {
    width: 970px;
    height: 347px;
    padding: 50px;
    padding-right: 180px;
  }

  .activities-slider__controls {
    right: 600px;
    bottom: 50px;
  }

  .activities-slider__h {
    font-size: 30px;
  }

  .activities-slider__desc {
    font-size: 24px;
  }
}


/**
 * TERMINAL IMAGER PAGE
 */

.terminal-imager-parrllax {
  max-width: 480px;
  float: right;
}

.terminal-imager-parrllax * {
  color: #fff;
}


/**
 * APPLYING
 */

.applying {
  margin: auto;
}

.applying__item {
  display: flex;
  align-items: center;
}

.applying__item > * {
  max-width: 385px;
}

.applying__img {
  padding: 10px;
}

.applying__text {
  padding: 10px;
}

@media screen and (max-width: 760px) {
  .applying__item {
    flex-direction: column;
  }
}

@media screen and (min-width: 760px) {
  .applying {
    padding: 0 50px;
  }
  .applying__item:nth-child(2n) {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 760px) {
  .applying__item {
    margin-bottom: -45px;
  }

  .applying__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1600px) {
  .applying__item > .applying__img {
    max-width: 480px;
  }
}


/**
 * DOWNLOADS
 */

.downloads__tab-header {
  padding: 17px 30px;
  background: #F7F7F7;
  transition: background  0.3s;
  cursor: pointer;
  border-bottom: 2px solid #fff;
}

.downloads__item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;

  color: #002E6D;
}

.downloads__item {
  border: 1px solid #E0E7E8;
  border-top: none;
}

.downloads__tab:not(:last-child) .downloads__item:last-child {
  border-bottom: none;
}

.downloads__item {
  padding: 25px;
}

.downloads__item-meta {
  margin: 5px 0;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;

  color: #8E959D;
}

.downloads__item-meta span {
  display: inline-block;
}

.downloads__item-meta span:before {
  display: inline-block;
  content: '';
  width: 2px;
  height: 2px;
  margin: 5px 8px;
  background: #8E959D;
  border-radius: 50%;
}

.downloads__item-meta span:first-child:before {
  display: none;
}

.downloads__item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.downloads__item-link,
.downloads__item-link:hover {
  text-decoration: none;
}

.download-link__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid;
  border-radius: 50%;
  border: 1px solid #E0E7E8;
}

.download-link__label {
  padding-left: 15px;
  color: #C10230;
  font-weight: bold;
}

.downloads__items {
  display: none;
}

.downloads__tab_active .downloads__items {
  display: block;
}

.downloads__tab_active .downloads__tab-header {
  background: #002E6D;
  border-bottom-color: transparent;
}

.downloads__tab_active .downloads__tab-header_red {
  background: #C10230;
}

.downloads__tab_active .downloads__tab-header * {
  color: #fff;
}

@media (min-width: 760px) {
  .downloads__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1240px) {
  .downloads__item {
    padding: 30px 140px 30px 60px;
  }
  .downloads__item-meta span:before {
    display: none;
  }
  .downloads__item-meta
  {
    display: flex;
    width: 30%;
    justify-content: space-between
  }
}


/**
 * HELPERS
 */

.text-center
{
  text-align: center;
}
